.App {
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.boxcolor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}