.box-color {
  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin: 10px auto;
  font-size: 1rem;
  font-weight: bold;
}

.color-text {
  text-align: center;
}